@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/roboto-v30-latin-300.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-300.woff') format('woff');

    }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-regular.woff') format('woff');
    }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/roboto-v30-cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*------------------------------------------------------------START SETTINGS START*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      
}

 body {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    color: black !important;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper h1, p {
    text-align: center;
}
/*------------------------------------------------------------START SETTINGS END*/

/*-----------------------------------------------HEADER START*/
.navbar_new {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all .2s linear;
}

.navbar_new_active {
    background-color: white;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px 0 15px 0;
    border-bottom: 1px solid #b7b7b7;
}

.hamb {
    display: none;
}

.pop_up {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.menu>li>a {
    text-decoration: none !important;
}

.nav_wrapper .menu {
    display: flex;
}

.nav_wrapper .menu>li {
    display: flex;
    align-items: stretch;
}

.nav_wrapper .menu>li>a {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-weight: 300;
    transition: all .2s linear;
}

.nav_wrapper .menu>li>a:hover {
    color: #000;
}

.theme {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.change-theme {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/*-----------------------------------------------HEADER END*/

/*-----------------------------------------------CHECKBOX STYLE START*/
input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in .5s;
}

input[type="checkbox"]:checked ~ .check {
    background-color: #F6F6F6;
}

.check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s;
}

input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
}

.check:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px);
}
/*-----------------------------------------------CHECKBOX STYLE END*/

/*-----------------------------------------------SVG STYLE START*/
.logotype {
    width: 100px;
    height: 100px;
}   

#bootstrap {
    fill: #5e3b7f;
}

.skills_program svg {
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
}
/*-----------------------------------------------SVG STYLE END*/

.lang_title {
    display: flex;
    transform: rotate(90deg);
}

.lang_title-link {
    margin-right: 10px;
}

.lang_title-link:last-child {
    margin-right: 0;
}

.lang_title-link:hover {
    text-decoration: none;
}

.lang_title-desc.active {
    color: #000;
}

.lang_title-desc {
    color: #828282;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------ABOUT STYLE START*/
.wrapper .title {
    font-size: 50px;
    color: #070707; 
    letter-spacing: 1.2px;   
    padding-top: 150px; 
}

.wrapper .title_work {
    max-width: 180px;
    font-size: 18px;
    line-height: 30px; 
    font-weight: 300; 
}

.wrapper_title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
}

.wrapper_photo {
    height: 300px;
    background: url(../images/avatar.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 100px;
}

.container-fluid {
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    margin-bottom: 90px;
}

.about_me h1 {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 18px;
}
 .about_me p {
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
 }
.about_me {
    max-width: 600px;
    text-align: center;
    padding: 0 15px;
}
/*----------------------------------------------------------ABOUT STYLE START*/

/*----------------------------------------------------------SKILLS STYLE START*/
.wrapper .skills_title {
    margin-bottom: 50px;
    font-size: 34px;
    line-height: 42px;
}

.wrapper .skills_desc {
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}
.skills_program {
    display: flex;
    justify-content: space-around;
}

.skills_program figure {
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 40px;
}

.progress-bar_1 {
    background-color: #ff4c1e !important;
}
.progress-bar_2{
    background-color: #0064f3 !important;
}
.progress-bar_3{
    background-color: #ffdf00 !important;
}
.progress-bar_4{
    background-color: #5e3b7f !important;
}
.progress-bar_5{
    background-color: #00cf7f !important;
}
.progress-bar_6{
    background-color: #00000080 !important;
}

.progress {
    margin-bottom: 100px !important;
}
/*----------------------------------------------------------SKILLS STYLE START*/

/*----------------------------------------------------------PORFOLIO STYLE START*/
.portfolio__title {
    margin-bottom: 50px;
    font-size: 34px;
    line-height: 42px;
}

.portfolio__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-bottom: 100px;
}

.portfolio__card {
    position: relative;
}

.portfolio__card:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(21, 24, 36, 0.4);
}

.portfolio__card-title {
    font-size: 34px;
    line-height: 42px;
    color: whitesmoke;
    position: absolute;
    bottom: 15px;
    left: 20px;
    z-index: 3;
    margin: 0;
}

.portfolio__card-link {
    font-size: 34px;
    line-height: 42px;
    color: whitesmoke;
    transition: all .2s linear;
    display: inline-block;
}

.portfolio__card-link:hover, .portfolio__card-link:active, .portfolio__card-link:focus {
    text-decoration: none;
    color: whitesmoke;
    transform: scale(1.05);
}

.portfolio__card-pic {
    max-width: 100%;
    object-fit: cover;
}

.portfolio__card-lg {
    grid-column: span 3;
}
/*----------------------------------------------------------PORTFOLIO STYLE END*/

/*----------------------------------------------------------EDUCATION STYLE END*/
.education_title {
    text-align: center;
    max-width: 700px;
    padding: 0 15px;
}

.education_title h1 {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 18px;
}

.education_title p {
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
}
/*----------------------------------------------------------EDUCATION STYLE END*/

/*----------------------------------------------------------CONTACTS STYLE START*/
.wrapper .contacs_title {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: -25px;
}

.wrapper .contacs_desc {
    font-size: 12px;
    line-height: 30px; 
    font-weight: 300; 
    text-align: center;
}

.social_link {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    margin: 50px auto;
}

.social_link img {
    width: 32px;
    height: 32px;
}

.social_link a {
    transition: transform .2s linear;
}

.social_link a:hover {
    transform: scale(1.1);
}


.panel-group {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}

.panel-group a:hover {
    text-decoration: none !important;
}   

.panel-default>.panel-heading {
    color: #fff !important;
    background-color: #151515 !important;
    border-color: #000 !important;
}

.panel-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 18px !important;
    color: inherit !important;
    line-height: 22px !important;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 25px !important;
}

collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none !important;
}

.panel-body {
    font-weight: 300;
    font-size: 16px !important;
    color: inherit !important;
    line-height: 22px !important;
}

.panel-default>.panel-heading {
    border-radius: 25px !important;
}

.panel-body span {
    color: #000;
}
/*----------------------------------------------------------CONTACTS STYLE END*/

/*-----------------------------------------------RESPONSIVE START*/
@media screen and (max-width: 1200px) {
    .header_item {
        margin-right: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .nav_wrapper .menu {
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
    }
    .hamb_field {
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #828282;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .open {
        left: 0;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        margin-top: 150px;
    }

    .popup .menu>li {
        width: 100%;
    }

    .popup .menu>li>a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: 300;
        color: black;
        transition: .2s linear;
    }

    .popup .menu>li>a:hover {
        background-color: rgba(204, 200, 200, 0.719);
    }

    .active .bar:nth-last-child(2) {
        opacity: 0;
    }

    .active .bar:nth-last-child(3) {
        transform: translateY(10px) rotate(45deg);
    }

    .active .bar:nth-last-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .progress {
        margin: 0 auto;
        max-width: 710px;
        border-radius: 25px !important;
    }

    .portfolio__card-lg {
        grid-column: span 6;
    }
}

@media screen and (max-width: 525px) {
    .wrapper .title_work {
        max-width: 100%;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
    }

    .lang_title {
        transform: rotate(0);
    }

    .wrapper_title {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        justify-content: flex-start;
        flex-direction: column;
    } 
}

@media screen and (max-width: 480px) {
    .skills_program {
        display: grid;
        grid-template-columns: 20%20%20%;
        grid-template-rows: 50%;
    }
    
    .portfolio__card-title {
        font-size: 25px;
    }

    .portfolio__card-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .education_title p {
        margin-bottom: 10px;
    }

    .about_me p {
        margin-bottom: 10px;
    }
}
/*-----------------------------------------------RESPONSIVE END*/
